:root {
  --bg: #f5f5f5;
  --text: #222;
  --accent: #7fa47f;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background-color: var(--bg);
  color: var(--text);
}
