.recipes-container {
  display: flex;
  flex-direction: column;
  padding: 20px 25px;
  background: #fff;
  border-radius: 16px;
  height: 100%;
}

/* Пошук */
.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #f7f7f7;
  padding: 10px 18px;
  border-radius: 25px;
  border: 1px solid #ccc;
  width: 60%;
  margin-bottom: 25px;
}

.search-bar img {
  width: 18px;
  height: 18px;
  opacity: 0.7;
}

.search-bar input {
  border: none;
  background: transparent;
  flex: 1;
  outline: none;
  font-size: 15px;
}

/* Сітка рецептів */

.card-link,
.card-link:visited,
.card-link:hover,
.card-link:active {
  text-decoration: none;
  color: inherit;
  display: block;
  outline: none;
}

.recipes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 25px;
  overflow-y: auto;
  padding-bottom: 20px;
}

.recipes-grid::-webkit-scrollbar {
  width: 8px;
}

.recipes-grid::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

/* Інформація про пошук */
.search-info {
  margin-bottom: 18px;
  font-size: 20px;
  color: #333;
}

.search-label {
  font-weight: 500;
}

.search-query {
  color: #4caf50;
  font-weight: 600;
}

.search-count {
  color: #666;
  margin-left: 2px;
}
