.homepage {
  background-color: #f3f3f3;
  min-height: 100vh;
  padding: 12px;
}

.homepage-container {
  display: grid;
  grid-template-columns: 230px 1fr 280px;
  gap: 12px;
  height: calc(100vh - 24px);
}

.recipes-section {
  background: #fff;
  border-radius: 16px;
  padding: 20px 25px;
  overflow-y: auto;
}
